[Desktop Entry]
Type=Application
Exec=sh -lc 'command -v xautolock >/dev/null 2>&1 && exec xautolock -time 7 -locker lock'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Auto Lock
Name=Auto Lock
Comment[en_US]=
Comment=
