 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #96E3F8;
active-foreground: #F5F0FD;
normal-background: #120E1A;
normal-foreground: #F5F0FD;
urgent-background: #F3CDF6;
urgent-foreground: #F5F0FD;

alternate-active-background: #BBB7EF;
alternate-active-foreground: #F5F0FD;
alternate-normal-background: #120E1A;
alternate-normal-foreground: #F5F0FD;
alternate-urgent-background: #120E1A;
alternate-urgent-foreground: #F5F0FD;

selected-active-background: #F3CDF6;
selected-active-foreground: #F5F0FD;
selected-normal-background: #F3CDF6;
selected-normal-foreground: #F5F0FD;
selected-urgent-background: #F3CDF6;
selected-urgent-foreground: #F5F0FD;

background-color: #120E1A;
background: rgba(0,0,0,0.7);
foreground: #F5F0FD;
border-color: #96E3F8;

color0: #3A3743;
color1: #9B39AE;
color2: #B351B8;
color3: #8C89B3;
color4: #70ABBA;
color5: #B79AB8;
color6: #AAA0BA;
color7: #E8E2F3;
color8: #A29EAA;
color9: #CE4CE8;
color10: #EF6CF6;
color11: #BBB7EF;
color12: #96E3F8;
color13: #F3CDF6;
color14: #E2D5F9;
color15: #E8E2F3;


}

